# Исключаем виртуальное окружение
venv/

# Исключаем байт-код Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Файлы, связанные с системами управления пакетами
pip-log.txt
pip-delete-this-directory.txt

# Файлы и папки, связанные с интегрированными средами разработки
*.idea/
*.vscode/

# Остальные временные файлы и папки
*.log
*.swp
*.swo
*.bak
